
.footer {
    height: 36.9rem;
    width: 100vw;
    background-color: var(--dark-green);
    color: var(--light-green);
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.8rem;
    margin-left: 2rem;
    gap: 0.8rem;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    width: 100%;
  }
  
  .contact-text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .contact-social {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
  }
  
  .contact p {
    margin: 0;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.8rem;
    margin-left: 2rem;
    gap: 0.8rem;
  }
  
  .about-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    width: 100%;
  }

  .about-text-col1 {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
  
  .about-text-col1,
  .about-text-col2,
  .work-text-col1,
  .work-text-col2 {
    width: 33%;
  }
  
  /*.about-wrapper, */
  .work-wrapper {
    justify-content: flex-start;
  }
  
  .about p {
    margin: 0;
  }

  .work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.8rem;
    margin-left: 2rem;
    gap: 0.8rem;
  }
  
  .work-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: flex-start;
    width: 100%;
  }
  
  .work-text-col1 {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
  
  .work p {
    margin: 0;
  }
  
  .lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.8rem;
    margin-left: 2rem;
    gap: 0.8rem;
  }
  
  .lang p {
    margin: 0;
  }
  
  .lang b {
    color: var(--orange);
  }
  
  .bottom-logo-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12rem;
    color: var(--light-green);
    margin-top: 0;
    background-color: var(--dark-green);
  }
  
  @keyframes roll-first {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }