@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --orange: #e86405;
  --body-bg: #fff1cf;
  --dark-green: #2a4a29;
  --light-green: #90A683;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  background-color: var(--body-bg);
}

/* Media Query for Mobile */
@media screen and (max-width: 576px) {
  .desktop-carousel {
    display: none;
  }

  .desktop-carousel-text {
    display: none;
  }

  .desktop-carousel-image {
    display: none;
  }
}

b {
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  color: var(--light-green);
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5rem 3rem;
  gap: 1rem;
}

.nav-item {
  height: 2.4rem;
  width: 2.4rem;
}

.menu-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.menu {
  display: flex;
  margin-right: 10%; 
}

.nav-text {
  color: var(--orange);
  font-family: "IBM Plex Sans";
  font-size: 1.6;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0.4rem;
}

.mockup {
  height: 53.5rem;
  color: #000;
  text-align: center;
  font-size: 1.9rem;
}

.mockup h3 {
  color: var(--orange);
  font-family: "IBM Plex Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1.5rem 2rem;
}

.mockup-img {
  width: 100vw;
  height: 42rem;
  background-image: url(/images/mockup-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;
}
.collection {
  display: flex;
  flex-direction: row;
}
.collectionText {
  color: var(--dark-green);
  font-family: "IBM Plex Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 2rem;
  margin-bottom: 0;
}

.collection-icon {
  width: 1.2944rem;
  height: 1.3969rem;
  margin-top: 2rem;
  margin-left: 1rem;
  stroke-width: 0.1rem;
  stroke: #5c5c5c;
}

/* Padding-left skapar för mycket marginal till höger om bodyn*/
.rolling-text {
  display: inline-block;
  font-size: 2.6rem;
  padding-left: 50%;
  animation: roll-first 50s linear infinite;
  animation-delay: 0s;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--light-green);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rolling-text-container {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
}

.read-more {
  height: 84.8rem;
  width: 100vw;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("images/kelp.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.read-more-content {
  display: inline;
  width: 28rem;
  height: 20rem;
  margin-left: 2.8rem;
  margin-bottom: 10rem;
}

.read-more-text {
  color: var(--body-bg);
  font-family: "IBM Plex Sans";
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.read-more-button {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  color: var(--body-bg);
  background-color: var(--orange);
  border-radius: 1rem;
  border: none;
  font-family: "IBM Plex Sans";
  height: 4rem;
  width: 10.29rem;
  text-transform: uppercase;
  text-align: center;
}

.read-more-button svg {
  vertical-align: middle;
}

.newsletter {
  height: 27.6rem;
  width: 100vw;
  background-color: #d9d9d9;
}

.newsletter p {
  color: #fff;
  font-family: "IBM Plex Sans";
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.6rem;
  letter-spacing: 0.253rem;
  padding-top: 1rem;
  margin-top: 0;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.newsletter form {
  display: flex;
  flex-direction: row;
  margin-left: 2.2rem;
  color: #727272;
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
}

.newsletter input {
  border: none;
  border-radius: 2.8rem;
  width: 21rem;
  height: 3rem;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper input {
  padding-right: 4rem;
}

.input-wrapper button {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 2.2rem;
}

.newsletter button {
  border-radius: 28px;
  background-color: #727272;
  color: #fff;
  font-family: "IBM Plex Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

/*  @keyframes bounce {
    50%, 100% {
      transform: translate(0, 100px);
    }
  }

.bounce {
  animation: bounce 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-delay: 0.5s;
}

*/

hr {
  width: 90%;
}

