html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2A4A29;
  
 
}

.hero {
  height: 80vh;
  width: 100vw;;
  border: solid black 1px;
  background-image: url("hero2.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center center;
  
}

.mockup {
  height: 53.5rem;
  width: 100vw;
  border: solid black 1px;
}

.carousel {
  height: 29.1rem;
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: solid black 1px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


  
.read-more {
    height: 84.8rem;
    width: 100vw;
    border: solid black 1px;
}

.newsletter {
    height: 27.6rem;
    width: 100vw;
    border: solid black 1px;
}

.footer {
    height: 36.9rem;
    width: 100vw;
    border: solid black 1px;
}

.rolling-text {
    height: 13.5rem;
    width: 100vw;
    border: solid black 1px;
}

.rolling-text-container {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100vw; 
  }
  
  .rolling-text-first {
    display: inline-block;
    font-size: 10rem;
    padding-left: 50%;
    animation: roll-first 50s linear infinite; 
    animation-delay: 0s; 
  }
  
  @keyframes roll-first {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .rolling-text-second {
    display: inline-block;
    font-size: 100px;
    padding-left: 50%;
    animation: roll-second 50s linear infinite; 
    animation-delay: 0s; 
  }
  
  @keyframes roll-second {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

hr {
  width:90%;
  }