html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2A4A29;
}

.hero {
  height: 70.3rem;
  width: 100vw;
  border: solid black 1px;
}

.mockup {
  height: 53.5rem;
  width: 100vw;
  border: solid black 1px;
}

.carousel {
  height: 29.1rem;
  width: 100vw;
  border: solid black 1px;
}

.swiper {
  margin-top: 4rem;
  width: 50vw;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.carousel-redbox {
  width: 20rem;
  height: 19.8rem;
  background-color: red;
}

.carousel-greenbox {
    width: 20rem;
    height: 19.8rem;
    background-color: green;
  }

  .carousel-bluebox {
    width: 20rem;
    height: 19.8rem;
    background-color: blue;
  }
  
.read-more {
    height: 84.8rem;
    width: 100vw;
    border: solid black 1px;
}

.newsletter {
    height: 27.6rem;
    width: 100vw;
    border: solid black 1px;
}

.footer {
    height: 36.9rem;
    width: 100vw;
    border: solid black 1px;
}

.rolling-text {
    height: 13.5rem;
    width: 100vw;
    border: solid black 1px;
}

.rolling-text-container {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100vw; 
  }
  
  .rolling-text-first {
    display: inline-block;
    font-size: 10rem;
    padding-left: 50%;
    animation: roll-first 50s linear infinite; 
    animation-delay: 0s; 
  }
  
  @keyframes roll-first {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .rolling-text-second {
    display: inline-block;
    font-size: 100px;
    padding-left: 50%;
    animation: roll-second 50s linear infinite; 
    animation-delay: 0s; 
  }
  
  @keyframes roll-second {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

hr {
  width:90%;
  }